extends layout
block header
    script(src="/socket.io/socket.io.js")

block content

    h1
        a(href="/") Home
        |  > STREAMING API example
    p This example shows how to use the Twitter Streming API to monitor a set of keywords using the 'node-tweet-stream' module.
        | It also shows how to use the socket.io module to maintain a websocket based conversation between client and server.
    p Unfortunately, later on I realized that this module does not support user tracking, only keywords. So I leave it here for those that are curious.
    p Please provide a comma separated list of keywords you want to track. The provided one is just because it provides instant feedback due to the cadence of tweets worldwide,

    form#streamingapi-form
        div
            label(for="keywords") Keywords (comma separated):
            input#keywords(type="text", name="keywords", value="javascript,java")
        div
            button#send Send
        div#tweetsHeader(style="display:none;")
            h2 Tweets coming...
                img(src="/img/ajax-loader.gif")

        hr
        div#tweets
block footer
    script.
        var socket;
        $(function() {
            socket = io.connect("http://localhost:8080");
            socket.on('tweet', function(data){
                console.log(data);
                $('#tweets').prepend(data.html);
            });
        });
        $('#send').on('click', function(e) {
            e.preventDefault();
            $("#tweetsHeader").show();
            socket.emit('keywords', $("#keywords").val());
        });



