extends layout
block header
    script(src="/socket.io/socket.io.js")

block content

    h1
        a(href="/") Home
        |  > STREAMING API example 2
    p This example shows how to use the Twitter Streaming API <a href="https://dev.twitter.com/docs/api/1.1/post/statuses/filter" target="_blank">("POST statuses/filter")</a> to monitor a set of keywords and users using the 'twit' module.
        | It also shows how to use the socket.io module to maintain a websocket based conversation between client and server.
    p Please provide a comma separated list of keywords and usernames (without @) you want to track.

    form#streamingapi-form
        div
            label(for="keywords") Keywords (comma separated):
            input#keywords(type="text", name="keywords")
        div
            label(for="usernames") Usernames (comma separated):
            input#usernames(type="text", name="usernames")
        div
            button#send Send
        div#tweetsHeader(style="display:none;")
            h2 Tweets coming in ...
                img(src="/img/ajax-loader.gif")

        hr
        div#tweets
block footer
    script.
        var socket;
        $(function() {
            socket = io.connect(document.location.host);
            socket.on('tweet2', function(data){
                console.log(data);
                $('#tweets').prepend(data.html);
            });
        });
        $('#send').on('click', function(e) {
            e.preventDefault();
            $("#tweetsHeader").show();
            socket.emit('track-twitter', {
                "keywords": $("#keywords").val(),
                "usernames": $("#usernames").val()
            });
        });



